@import "config";
@import "/package-lock.json";
@import "./scss/fontawesome.scss";
@import "./scss/regular.scss";
@import "./scss/solid.scss";
@import "./scss/brands.scss";

* {
  box-sizing: border-box;
}

main {
  background: url(../images/background.jpg);
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  z-index: 40;
  width: 100%;
  height: 100%;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 1rem;
    padding: 0.2rem;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut();

      .icon {
        color: #ffffff;
      }
      .icon:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    a {
      color: $secondary-color;
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #ffffff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Contact Form
.myform {
  padding: 20px;
  .fields {
    padding-bottom: 15px;
  }
  label {
    display: block;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 15px;
    width: 96.5%;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
  }
  textarea {
    height: 200px;
  }
  .button {
    background-color: #521751;
    background: #521751;
    color: #ffffff;
    margin: 10px 20px;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: normal;
    border: 0;
    padding: 0;
    outline: none;
    &:hover {
      color: $secondary-color;
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color ($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #ffffff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333333;
}

// Footer
#main-footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 2rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  overflow: hidden;
  z-index: 8;

  a:hover {
    color: $secondary-color;
  }
}

// Toolbar
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #521751;
  height: 56px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar__logo a:hover,
.toolbar__logo a:active {
  color: #eece1a;
}

.spacer {
  flex: 1;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__navigation-items li {
  padding: 0 0.5rem;
}

.toolbar__navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
  color: #eece1a;
}

// Drawer Toggle Button
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: #ffffff;
}

// Side Drawer
.side-drawer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background: #ffffff;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.14s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
  transition-duration: 0.3s;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #521751;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #eece1a;
}

// Backdrop
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

//Footer
#main-footer {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

@import "mobile";
